html {
	font-family: "Rubik", sans-serif;
	background: var(--background);
	color: var(--foreground);
	line-height: var(--line-height-m);
	font-weight: var(--font-weight-m);

	--light: #FFFFFF;
	--dark: #0D0E34;

	--foreground: var(--dark);
	--background: var(--light);

	--shade-700: #565671;
	--shade-600: #86889B;
	--shade-500: #B6B7C2;
	--shade-400: #E7E7EB;
	--shade-300: #F5F5F5;
	--shade-700-contrast: var(--light);
	--shade-600-contrast: var(--light);
	--shade-500-contrast: var(--light);
	--shade-400-contrast: var(--dark);
	--shade-300-contrast: var(--dark);

	--space-400: #3D3E5D;
	--space-500: #0D0E34;
	--space-600: #0A0B2A;
	--space-400-contrast: var(--light);
	--space-500-contrast: var(--light);
	--space-600-contrast: var(--light);

	--blue-400: #8A8FE2;
	--blue-500: #6D73DB;
	--blue-600: #575CAF;
	--blue-400-contrast: var(--light);
	--blue-500-contrast: var(--light);
	--blue-600-contrast: var(--light);

	--green-400: #79D4A2;
	--green-500: #58C989;
	--green-600: #46A16F;
	--green-400-contrast: var(--light);
	--green-500-contrast: var(--light);
	--green-600-contrast: var(--light);

	--red-400: #D06D35;
	--red-500: #C44801;
	--red-600: #9E3B01;
	--red-400-contrast: var(--light);
	--red-500-contrast: var(--light);
	--red-600-contrast: var(--light);

	--yellow-400: #FEEF7E;
	--yellow-500: #FDEB5D;
	--yellow-600: #CBBC4A;
	--yellow-400-contrast: var(--dark);
	--yellow-500-contrast: var(--dark);
	--yellow-600-contrast: var(--dark);

	--container-width-s: 500px;
	--container-width-m: 900px;
	--container-width-l: 1100px;

	--spacing-xxs: 4px;
	--spacing-xs: 6px;
	--spacing-s: 8px;
	--spacing-m: 12px;
	--spacing-l: 18px;
	--spacing-xl: 24px;
	--spacing-xxl: 30px;
	--spacing-xxxl: 40px;
	--spacing-xxxxl: 60px;
	--spacing-xxxxxl: 80px;
	--spacing-xxxxxxl: 120px;

	--border-radius-s: 8px;
	--border-radius-m: 16px;
	--border-radius-l: 24px;

	--font-size-s: 0.75rem;
	--font-size-m: 1.2rem;
	--font-size-l: 1.8rem;
	--font-size-xl: 2.5rem;

	--font-weight-t: 300;
	--font-weight-m: 400;
	--font-weight-b: 500;

	--line-height-m: 1.2em;

	--shadow: 0 2px 12px -2px var(--shadow-color, rgba(22, 22, 22, 0.2));
}

body {
	margin: 0;
}

@media (max-width: 800px) {
	html {
		--font-size-s: 0.6rem;
		--font-size-m: 1rem;
		--font-size-l: 1.4rem;
		--font-size-xl: 1.8rem;

		--spacing-xl: 22px;
		--spacing-xxl: 24px;
		--spacing-xxxl: 28px;
		--spacing-xxxxl: 32px;
		--spacing-xxxxxl: 36px;
		--spacing-xxxxxxl: 40px;
	}
}

/*@media (prefers-color-scheme: dark) {*/
/*	html {*/
/*		--background: #000000;*/
/*		--foreground: var(--light);*/
/*		--shadow-color: rgba(255, 255, 255, 0.2);*/
/*	}*/
/*}*/